<!-- <div>
    <form (ngSubmit)="login(email, password)">
    <input type="text" name="email" placeholder="Email ID" [(ngModel)]="email">
    <input type="password" name="password" placeholder="password" [(ngModel)]="password">
    <button type="submit"> Login </button>
    </form>
    <div>
       {{message}}
    </div>
</div> -->

<!-- <h2>Sign in/up Form</h2> -->
<mat-progress-bar mode="indeterminate" color="warn" *ngIf="spinnerValue"></mat-progress-bar>
<div class="main-container">
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="#">
			<h1>Create Account</h1>
			<!-- <div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div> -->
			<span>Use your email for registration</span>
			<input type="text" placeholder="Name" />
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Password" />
			<button>Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="#" (ngSubmit)="login(email, password)">
			<h1>Sign in</h1>
			<!-- <div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your account</span> -->
			<input type="email" placeholder="Email" name="email" [(ngModel)]="email" />
			<input type="password" placeholder="Password" name="password" [(ngModel)]="password" />
			<div style="color: red;">
				{{message}}
			</div>
			<a href="#">Forgot your password?</a>
			<button type="submit">Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To enter your time alloaction for the week, please login with your credentials</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Welcome To Dahaka!</h1>
				<p>Sign up here.</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>
</div>

<footer>
	<p>	
		Application developed by koaani. 
	</p>
</footer>